@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-1 .row .col-lg-6 .boots img {
    width: 80%;
  }

  .section-1 .row .col-lg-6 .panel {
    position: static;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 10vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
    height: fit-content;
  }
}
